<template>
    <div>
        <div class="row">

            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4>Data Indikator Inovasi Daerah</h4>
                        <p>21 Indikator dari Data Isian Inovasi Daerah. Silahkan membaca deskripsi atau keterangan terlebih dahulu dari masing-masing isian dalam formulir ini. Jika terdapat pertanyaan, silahkan berkoordinasi ke Whatsapp Grup "Koordinasi IGA DPS 2020"</p>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">17. Kecepatan Inovasi [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Proses yang digunakan untuk mengakses inovasi daerah dalam satuan waktu. yang dimaksud sangat lambat (waktunya pengerjaanya kurang dari 6 bulan) yang dimaksud cukup cepat (waktunya pengerjaanya kurang dari 12 bulan) yang dimaksud lambat (waktunya pengerjaanya lebih dari 12 bulan)</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kecepataninovasi" id="kecepataninovasi" value="Proses inovasi dapat dilakukan dalam waktu hitungan 8 bulan keatas">
                                    Proses inovasi dapat dilakukan dalam waktu hitungan 8 bulan keatas
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kecepataninovasi" id="kecepataninovasi" value="Proses inovasi dapat dilakukan dalam waktu hitungan 3-7 bulan">
                                    Proses inovasi dapat dilakukan dalam waktu hitungan 3-7 bulan
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kecepataninovasi" id="kecepataninovasi" value="Proses inovasi dapat dilakukan dalam waktu hitungan 1-2 bulan">
                                    Proses inovasi dapat dilakukan dalam waktu hitungan 1-2 bulan
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kecepataninovasi" id="kecepataninovasi" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>17. Kecepatan Inovasi [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf) atau file tipe foto atau gambar (jpg/jpeg)</p>
                            <input type="file" name="datakecepataninovasi" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">17. Kecepatan Inovasi [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namakecepataninovasi" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">18. Kemanfaatan Inovasi [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Inovasi daerah yang dihasilkan bermanfaat dan tidak menimbulkan beban terhadap daerah</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kemanfaataninovasi" id="kemanfaataninovasi" value="Hasil dan manfaatnya dirasakan 1-100 orang">
                                    Hasil dan manfaatnya dirasakan 1-100 orang
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kemanfaataninovasi" id="kemanfaataninovasi" value="Hasil dan manfaatnya dirasakan 100-200 orang">
                                    Hasil dan manfaatnya dirasakan 100-200 orang
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kemanfaataninovasi" id="kemanfaataninovasi" value="Hasil dan manfaatnya dirasakan diatas 201 orang">
                                    Hasil dan manfaatnya dirasakan diatas 201 orang
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kemanfaataninovasi" id="kemanfaataninovasi" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>18. Kemanfaatan Inovasi [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf) atau file tipe foto atau gambar (jpg/jpeg)</p>
                            <input type="file" name="datakemanfaataninovasi" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">18. Kemanfaatan Inovasi [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namakemanfaataninovasi" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">19. Tingkat Kepuasan penggunaan inovasi daerah [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Ketersediaan tingkat kepuasan inovasi daerah dapat dirasakan sesuai dengan yang diharapkan pengguna</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="tingkatkepuasan" id="tingkatkepuasan" value="Hasil pengukuran kepuasan pengguna dari testimoni pengguna">
                                    Hasil pengukuran kepuasan pengguna dari "testimoni pengguna"
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="tingkatkepuasan" id="tingkatkepuasan" value="Hasil pengukuran kepuasan pengguna dari evaluasi atau survei">
                                    Hasil pengukuran kepuasan pengguna dari evaluasi atau survei
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="tingkatkepuasan" id="tingkatkepuasan" value="Hasil pengukuran kepuasan pengguna dari hasil penelitian">
                                    Hasil pengukuran kepuasan pengguna dari hasil penelitian
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="tingkatkepuasan" id="tingkatkepuasan" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>19. Tingkat Kepuasan penggunaan inovasi daerah [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe dokumen (doc/docx/pdf) atau file tipe foto atau gambar (jpg/jpeg)</p>
                            <input type="file" name="datatingkatkepuasan" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">19. Tingkat Kepuasan penggunaan inovasi daerah [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namatingkatkepuasan" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">20. Sosialisasi Kebijakan [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Penyebarluasan informasi kebijakan inovasi daerah dari pemerintahan daerah kepada pengguna inovasi daerah (pengguna dapat Pegawai ASN atau Masyarakat) dengan mengunggah foto kegiatan inovasi daerah dan/atau pelaksanaan inovasi dimaksud</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="sosialisasikebijakan" id="sosialisasikebijakan" value="Foto kegiatan tersedia">
                                    Foto kegiatan tersedia
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="sosialisasikebijakan" id="sosialisasikebijakan" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>20. Sosialisasi Kebijakan [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe foto atau gambar (jpg/jpeg)</p>
                            <input type="file" name="datasosialisasikebijakan" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">20. Sosialisasi Kebijakan [Nama Dokumen Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan sebutkan nama dokumen yang anda upload</p> 
                            <input type="text" class="form-control" id="namasosialisasikebijakan" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">21. Kualitas Inovasi Daerah [Kuisioner] <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Kualitas inovasi Daerah dapat dibuktikan dengan video inovasi daerah (file MP4, MOV atau AVI)</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kualitasinovasi" id="kualitasinovasi" value="Video tersedia">
                                    Video tersedia
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="kualitasinovasi" id="kualitasinovasi" value="Belum tersedia">
                                    Belum tersedia
                                </label>
                            </div>
                        </div>

                         <div class="form-group">
                            <label>21. Kualitas Inovasi Daerah [Data Pendukung]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan upload data pendukung terkait jawaban yang dipilih pada kuisioner. Kebutuhan data pendukung adalah file tipe video (mp4/mov/avi), dengan maksimal besar file adalah 50 MB.</p>
                            <input type="file" name="datakualitasinovasi" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Your Data">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Add File</button>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">21. Kualitas Inovasi Daerah [URL/Link Youtube 1]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan inputkan URL/link youtube dari video inovasi daerah</p> 
                            <input type="text" class="form-control" id="linkkualitasinovasi1" autocomplete="off" placeholder="Your answer">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">21. Kualitas Inovasi Daerah [URL/Link Youtube 2]</label>
                            <p style="font-size:12px; text-align: justify;">Silahkan inputkan URL/link youtube dari video inovasi daerah</p> 
                            <input type="text" class="form-control" id="linkkualitasinovasi2" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">22. Inovasi Daerah Dalam IGA dan Sinovik <a style="color:red;">*</a></label>
                            <p style="font-size:12px; text-align: justify;">Apakah inovasi daerah pernah didaftarkan untuk IGA (Innovative Government Award) Kemendagri atau Sinovik (Sistem Inovasi Pelayanan Publik) Kemenpan RB atau belum</p> 
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasiiga" id="inovasiiga" value="IGA Tahun 2019">
                                    IGA Tahun 2019
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasiiga" id="inovasiiga" value="Sinovik Tahun 2016">
                                    Sinovik Tahun 2016
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasiiga" id="inovasiiga" value="Sinovik Tahun 2017">
                                    Sinovik Tahun 2017
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasiiga" id="inovasiiga" value="Sinovik Tahun 2018">
                                    Sinovik Tahun 2018
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasiiga" id="inovasiiga" value="Sinovik Tahun 2019">
                                    Sinovik Tahun 2019
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasiiga" id="inovasiiga" value="Sinovik Tahun 2020">
                                    Sinovik Tahun 2020
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="inovasiiga" id="inovasiiga" value="Belum pernah">
                                    Belum pernah
                                </label>
                            </div>
                        </div>

        
                        <div class="form-group">
                            <label for="exampleInputUsername1">23. Catatan atau Tambahan Keterangan Mengenai Inovasi Daerah <a style="color:red;">*</a></label>
                            <input type="text" class="form-control" id="catatan" autocomplete="off" placeholder="Your answer">
                        </div>

                    </form>
                  </div>
                </div>
            </div>

            
        </div>
        <button class="btn btn-primary" type="submit" @click.prevent="submit()">Submit form</button>
    </div>
</template>

<script>

    export default {
        props: ['dataprops'],
        data() {
            return {
                component:'Page4Component',
                currentData:{}

            }
        },

        created(){
        },

        methods: {
            submit(){
                //1. cek validasi

                //2. simpan database

                //3. lompat ke next component
                this.toNextComponent('Page1Component')
            },
            toNextComponent(visit){
                let data = {
                    back:this.component,
                    data:this.currentData,
                    visit
                }
                this.$emit('datacomponent', data)

            }



        },
    }
</script>

<style>

</style>